body {
    margin: 0;
    padding: 0;
}

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    user-select: none;
}

header {
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid lightgray;
    height: 50px;
    justify-content: center;
    background-color: #f3f3f3;
}

.back {
    position: absolute;
    left: 15px;
    text-decoration: none;
    color: coral;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5px;
    background: none;
    border: none;
    cursor: pointer;
}

.back span {
    display: block;
    font-size: x-large;
    text-align: center;
    margin: 0 0 3px 0;
    padding: 0;
    padding-left: 5px;
}

.back svg{
    flex-basis: 40%;
}

.header-heading {
    margin: 0 0 2px 0;
    font-weight: lighter;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dm {
    position: absolute;
    right: 15px;
    color: coral;
    background: none;
    border: none;
    cursor: pointer;
}

.da {
    position: absolute;
    right: 50px;
    color: coral;
    background: none;
    border: none;
    cursor: pointer;
}

.hidden{
    visibility: hidden;
}