*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    flex-direction: column;
    background-color: whitesmoke;
}

.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
}

.menu a{
    text-decoration: none;
    color: black;
    font-size: large;
}

.block{
    min-height: 150px;
    min-width: 150px;
    height: 22vmin;
    width: 22vmin;
    margin: 5px;
    box-sizing: border-box;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.block:hover{
    outline-style: solid;
    outline-color: lightgray;
    outline-width: 1px;
    color: black;
}

.block *{
    margin: 0;
    padding: 0;
}

.block svg{
    color: coral;
    width: 48px;
    height: 48px;
}

footer a{
    color: coral;
    text-decoration: none;
}

footer a:visited{
    color: sandybrown;
}